[submodule "lib/forge-std"]
  branch = "v1"
  path = "lib/forge-std"
  url = "https://github.com/foundry-rs/forge-std"
[submodule "lib/openzeppelin-contracts"]
  branch = "release-v4.9"
  path = "lib/openzeppelin-contracts"
  url = "https://github.com/OpenZeppelin/openzeppelin-contracts"
[submodule "lib/permit2"]
  branch = "main"
  path = "lib/permit2"
  url = "https://github.com/uniswap/permit2"
[submodule "lib/prb-proxy"]
  branch = "release-v4"
  path = "lib/prb-proxy"
  url = "https://github.com/PaulRBerg/prb-proxy"
[submodule "lib/prb-test"]
  branch = "release-v0"
  path = "lib/prb-test"
  url = "https://github.com/PaulRBerg/prb-test"
[submodule "lib/solady"]
  branch = "main"
  path = "lib/solady"
  url = "https://github.com/Vectorized/solady"
[submodule "lib/v2-core"]
  branch = "main"
  path = "lib/v2-core"
  url = "https://github.com/sablier-labs/v2-core"
