# directories
artifacts
artifacts-zk/
broadcast
cache
cache_hardhat/
cache_hardhat-zk/
coverage
deployments-zk/
docs
node_modules
typechain-types/
out-optimized
out

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock

# zksync
artifacts-zk/
cache_hardhat/
cache_hardhat-zk/
deployments-zk/
typechain-types/
